@font-face {
  font-family: "Geist Medium";
  src: url('./assets/fonts/GeistMono-Medium.ttf');
}
@font-face {
  font-family: "Geist Thin";
  src: url('./assets/fonts/GeistMono-Thin.ttf');
}

@font-face {
  font-family: "Geist Bold";
  src: url('./assets/fonts/GeistMono-Black.ttf');
}
@font-face {
  font-family: "Geist Extra Light";
  src: url('./assets/fonts/GeistMono-ExtraLight.ttf');
}
@font-face {
  font-family: "Geist Light";
  src: url('./assets/fonts/GeistMono-Light.ttf');
}

@font-face {
  font-family: "Geist Regular";
  src: url('./assets/fonts/GeistMono-Regular.ttf');
}

body {
  font-family: "Geist Medium";
  background: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
